---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="mb-8">
    <h2 class="text-3xl font-bold mb-4">トップページ</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

    </div>
  </section>
</Layout>
